@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 5 Website";
}



<div>
    <h1>Busbyberkly Peterson</h1>
    <br />
    <img src="~/images/footballgame.jpg" alt="Busbyberkly at a BYU Football game living her best life" width="300" height="400" />
    @*<img src="images/20221208_121314.jpg" alt="Busbyberkly with BYU President Kevin J. Worthen" width="300" height="400" />*@
    <p>
        
        I like going to BYU Football games.
    </p>
    <br />
    <!--my goals for this class-->
    <p>
        I hope that by the end of the semester I will feel confident in using asp.net.
        I want feel good about using c#.
        I want to be able to make cool stuff and have fun.
    </p>

    <h3>Top 3 Jobs I want after graduation, subject to change tho. TBH</h3>
    <ol>
        <li>Cybersecurity</li>
        <li>Database Management</li>
        <li>Web Development</li>
    </ol>
    <br />
    

        
</div>
